doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/register.css')
  title Document
header.header
  nav.nav
    .logo
      a(href='/home') Quai Aquatique
    ul.nav-items.mobile-nav-links
      li.nav-item
        a(href='/reservation') R&eacute;servations
      if userLoggedIn==undefined
        li.nav-item.login-item
          a.login(href='/connexion') Connexion
      if userLoggedIn!=undefined
        li.nav-item.login-item
          a(href='/dashboard') #{userLoggedIn.username}
    .burger
      .line11
      .line22
      .line33
main
  section
    .login-container
      form#register-form(action='#' method='post')
        h2 Inscription
        span.d-block #{errorMessage}
        label(for='username') Nom d&apos;utilisateur
        input#new-username(type='text', name='username', required='', value=username)
        label(for='new-email') Adresse email
        input#new-email(type='email', name='email', required='', value=email)
        label(for='new-password') Mot de passe
        input#new-password(type='password', name='password', required='', value=password)
        label(for='password-confirm') Confirmation du mot passe
        input#password-confirm(type='password', name='password-confirm', required='', value=password-confirm)
        .login-form__login
          span Vous avez d&eacute;j&agrave; un compte?
          a(href='/connexion') Connexion
        input#register(type='submit' value="S'inscrire")
footer
  p Tous droits r&eacute;serv&eacute;s &copy; Notre Restaurant 2023
script(src='/app.js')
